<p style="color: green"><%= notice %></p>

<% content_for :title, "Links" %>

<h1>Links</h1>

<div id="links">
  <% @links.each do |link| %>
    <%= render link %>
    <p>
      <%= link_to "Show this link", link %> 
      <small> Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
      <div>
      <a href="<%= link.url %>">Go to Link</a>
      <% if user_signed_in? %>
      <% if current_user.liked? link %>
            <%= link_to 'unlike', like_link_path(link, 'unlike'), method: :put, remote: :true %>
      <% else %>
           <%= link_to 'like', like_link_path(link, 'like'), method: :put %>
      <% end %>

      <% if current_user.disliked? link %>
            <%= link_to 'undislike', dislike_link_path(link, 'undislike'), method: :put, remote: :true %>
      <% else %>
            <%= link_to 'dislike', dislike_link_path(link, 'dislike'), method: :put, remote: :true %>
      <% end %>
      </div>
    </p>
    <% end %>
    <ul> Upvotes <%= link.get_upvotes.size %> </ul>
    <ul> Downvotes <%= link.get_downvotes.size %> </ul>
    <% end %>
</div>


<%= link_to "New link", new_link_path %>


